{% extends 'layouts/main.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb float-sm-end">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item"><a href="/usuario/lista">Lista de Usuarios</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalhes do usuário</li>
</ol>
{% endblock %}

{% block main %}
<form id="form">
    <input type="hidden" id="action" name="action" value="{{action}}">
    <input type="hidden" id="id" name="id" value="{{id}}">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="/usuario/lista" class="btn btn-warning">
                        <i class="fa-solid fa-chevron-left"></i>
                        Voltar
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nomeExibicao" name="nomeExibicao"
                                    placeholder="Digite o nome!" value="{{users.nome}}"
                                    required>
                                <label for="nomeExibicao">Digite o nome!</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input autofocus type="text" class="form-control" id="numeroDocumento"
                                    name="numeroDocumento" placeholder="Digite o CPF !"
                                    value="{{users.cpf}}" required>
                                <label for="numeroDocumento">Digite o CPF !</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nomeLegal" name="nomeLegal"
                                    placeholder="Digite o sobre nome!"
                                    value="{{users.sobrenome}}" required>
                                <label for="nomeLegal">Digite o sobre nome!</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="registroSecundario"
                                    name="registroSecundario" placeholder="Digite o rg!"
                                    value="{{users.rg}}" required>
                                <label for="registroSecundario">Digite o rg!</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="senha" name="senha"
                                    placeholder="Digite a senha!" value="{{users.senha}}" required>
                                <label for="senha">Digite a senha!</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="icheck-primary d-inline">
                                <input class="form-check-label" type="checkbox" id="ativo" name="ativo" value="true" {%
                                    if customer.ativo==1 %} checked {% endif %}>
                                <label for="ativo">
                                    Ativo?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button id="insert" type="button" class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
{{ vite('resources/js/pages/users.js') }}
{% endblock %}